body {
    background-color: #c3ead9;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
}
main {
    margin: 1vw;
}

header{
    position: sticky;
    width: 100%;
    text-align: center;
}

a, button {
    color: black;
    text-decoration: none;
    padding: .3vw .5vw;
    border: solid 1px grey;
    background-color: aquamarine;
    transition: all 1s;
    font-size: 1vw;
    border-radius: 2vw;
}

a:hover, button:hover {
    background-color: aqua;
    padding: .4vw .6vw;
    font-size: 1.2vw;
}

header a {
    float: right;
}

.repeated {
    transition: all 1s;
    color: darkslategrey;
}

tr:nth-of-type(2n) {
    background-color: #cdc;
}

tr:hover {
    background-color: #fff;
}

tr {
    height: 2vw;
}

table {
    background-color: #ccd
}

nav ul li {
    display: inline;
    border: solid 5px rgba(0, 0, 0, 0.00);
}

.basket {
    float: right;
}
