@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <p class="flavor-text">In a hypothetical dystopian future, merging an Orwellian superstate with rampant and vicious copyright and IP laws. In order to speak or write, you must first purchase the right to use those words. Inventing new words is sharply regulated, and using words without rights in severly punished.</p>

    <p class="tag-line">Here at Wordy, we sell lisences to use words. Find the word you want to use and purchase the appropriate liscence! Impress your friends and coworkers with words like "ambidexterious" or "unpleasant".</p>
</section>