@model Week6Lab_Identity.Models.ViewModels.CreateUser
@using Week6Lab_Identity.Models

<h3>Sign on the dotted line. No TOS!</h3>
<form asp-action="post">
    <label asp-for="Email">What email address have you forgotten the password to access?</label>
    <input asp-for="Email" type="email"/>

    <label asp-for="Age">How old do you feel? Trust us!</label>
    <input asp-for="Age" type="number"/>

    @* I am deliberately phrasing these requests to prevent people from giving me 
        personal information. This is an example, not a real site.*@
    <label asp-for="Location">From whenst doest thou hail?</label>
    <select asp-for="Location" asp-items="@Html.GetEnumSelectList(typeof(Region))" />

    <label asp-for="Password">Password - make it short and sweet</label>
    <input asp-for="Password" />

    <label asp-for="ConfirmPassword">Typing test - do it again.</label>
    <input asp-for="ConfirmPassword" />

    <button type="submit">Reaffirm your existence! Click here to get ALL THE STUFF JUST $9.99</button>
</form>
