@model Week6Lab_Identity.Models.ViewModels.RegisterUser
@using Week6Lab_Identity.Models

<h3>Sign on the dotted line. No TOS!</h3>
<form asp-action="post">
    <div>
        <label asp-for="Email">Email <span class="req">required</span></label>
        <input asp-for="Email" type="email"/>
    </div>

    <div>
        <label asp-for="Location">What is your region? <span class="req">required</span></label>
        <select asp-for="Location" asp-items="@Html.GetEnumSelectList(typeof(Region))" />
    </div>    

    <div>
        <label asp-for="Phone">Phone number</label>
        <input asp-for="Phone" />
    </div>

    <div>
        <label asp-for="Password">Password <span class="req">required</span></label>
        <input asp-for="Password" />
    </div>

    <div>
        <label asp-for="ConfirmPassword">Typing test - do it again <span class="req">required</span></label>
        <input asp-for="ConfirmPassword" />
    </div>

    <button type="submit">Click Bait!!!</button>
</form>
